http/2: starting HTTP/2 for "http" URIs (http/1 upgrade to http/2)

For anyone who wants to take on the challenge of implementing support for automatic upgrades from HTTP/1 to HTTP/2, here are the basic requirements from the spec:

----
[Starting HTTP/2 for "http" URIs](https://tools.ietf.org/html/rfc7540#section-8.3)
> A client that makes a request for an "http" URI without prior knowledge about support for HTTP/2 on the next hop uses the HTTP Upgrade mechanism (Section 6.7 of [RFC7230]).  The client does so by making an HTTP/1.1 request that includes an Upgrade header field with the "h2c" token. Such an HTTP/1.1 request MUST include exactly one HTTP2-Settings (Section 3.2.1) header field.

> For example:

```
GET / HTTP/1.1
Host: server.example.com
Connection: Upgrade, HTTP2-Settings
Upgrade: h2c
HTTP2-Settings: <base64url encoding of HTTP/2 SETTINGS payload>
```

> Requests that contain a payload body MUST be sent in their entirety before the client can send HTTP/2 frames.  This means that a large request can block the use of the connection until it is completely sent.

> If concurrency of an initial request with subsequent requests is important, an OPTIONS request can be used to perform the upgrade to HTTP/2, at the cost of an additional round trip.

> A server that does not support HTTP/2 can respond to the request as though the Upgrade header field were absent:

```
HTTP/1.1 200 OK
Content-Length: 243
Content-Type: text/html
...
```

> A server MUST ignore an "h2" token in an Upgrade header field. Presence of a token with "h2" implies HTTP/2 over TLS, which is instead negotiated as described in Section 3.3.

> A server that supports HTTP/2 accepts the upgrade with a 101 (Switching Protocols) response.  After the empty line that terminates the 101 response, the server can begin sending HTTP/2 frames.  These frames MUST include a response to the request that initiated the upgrade.

> For example:

```
HTTP/1.1 101 Switching Protocols
Connection: Upgrade
Upgrade: h2c

[ HTTP/2 connection ...
```

> The first HTTP/2 frame sent by the server MUST be a server connection preface (Section 3.5) consisting of a SETTINGS frame (Section 6.5). Upon receiving the 101 response, the client MUST send a connection preface (Section 3.5), which includes a SETTINGS frame.

> The HTTP/1.1 request that is sent prior to upgrade is assigned a stream identifier of 1 (see Section 5.1.1) with default priority values (Section 5.3.5).  Stream 1 is implicitly "half-closed" from the client toward the server (see Section 5.1), since the request is completed as an HTTP/1.1 request.  After commencing the HTTP/2 connection, stream 1 is used for the response.
-----

As far as implementation is concerned, the upgrade path can essentially be handled either as a special handler for the `'upgrade'` event or as a special case inside the existing HTTP implementation.

I'm thinking _we should not do this_ right now.

Yeah, there's definitely a lot to this and it could easily take up quite a bit of time.

Any progress/update on this? 

I think it might be the right time to start working on this as core HTTP2 implementation is stabilizing. If anyone wants to take up the challenge. This is not trivial work.